*{margin: 0;
padding: 0;
box-sizing: border-box;}
.active{
    color: rgb(253, 5, 150);
    font-size: 30px;
}
ul{
display: flex;
justify-content: space-between;
width: 100%;
    list-style: none;
    padding-left: 2rem;
}